.root {
  @apply flex justify-center;
}

.content { 
  @apply p-2 relative;

  &:hover:not(.focused) {
    @apply outline-dotted outline-blue-200 outline-1;
    & > .bottomControls .topControls {
      @apply z-0;
    }
  }
}

.focused {
  @apply outline outline-blue-400 outline-1;
}

.bottomControls{
  @apply absolute flex justify-center -mb-4 opacity-0 left-0 bottom-0 w-full transition-opacity;

  &:hover {
    @apply opacity-100;
  }
}

.topControls{
  @apply absolute flex justify-center -mt-6 pb-4 opacity-0 top-0 left-0 w-full transition-opacity;

  &:hover {
    @apply opacity-100;
  }

  &:not(:first-child) {
    @apply hidden;
  }
}


.insertSectionButton {
  @apply text-sm px-1 rounded-sm bg-orange-light text-accent-0 transition-all flex justify-self-center;

  &:hover {
    @apply bg-orange;
  }
}

.controlButton {
  @apply w-5 h-5 rounded-md flex justify-center items-center;
  &:hover {
    @apply bg-accent-2;
  }
}

.dragHandle {
  @apply -ml-5;
  flex: 0 0 auto;
  position: relative;
  cursor: grab;
}

.closeIcon {
  @apply -mr-2;
}

.noSelect {
  @apply select-none;
}

.controls {
  @apply flex overflow-hidden rounded-md border;
}

.settingsBtn {
  @apply text-sm px-1 text-primary transition-all flex items-center justify-center w-6 h-6 border-r bg-primary;

  &:last-child {
    @apply border-none;
  }

  &:hover {
    @apply bg-accent-2;
  }
}

.icon {
  @apply w-4 h-4;
}
